.container {
  margin: 10px 0 10px 16px;
}

.featured {
  font-size: 24px;
  font-weight: bold;
  margin: 16px 0;
}

.imagesContainer {
  display: flex;
}

.imageContainer {
  position: relative;
  flex: 1 1 auto;
  max-width: 683px;
  height: auto;
  margin-left: -28px;
}

.heroLogo {
  object-fit: contain;
}

.imageContainer2 {
  position: relative;
  flex: 0 0 175px;
  height: 175px;
}

.heroImage {
  object-fit: contain;
  transform: rotate(30deg);
}

@media (max-width: 900px) {
  .imageContainer {
    max-width: 466.5px;
    margin-left: -8px;
  }

  .imageContainer2 {
    flex: 0 0 138px;
    height: 138px;
  }

  .featured {
    font-size: 18px;
    margin: 16px 8px;
  }
}

@media (max-width: 700px) {
  .imageContainer {
    max-width: 389px;
    margin-left: -4px;
  }

  .imageContainer2 {
    flex: 0 0 115px;
    height: 115px;
  }

  .featured {
    font-size: 17px;
    font-weight: bold;
    margin: 14px 7px;
  }
}

@media (max-width: 500px) {
  .imageContainer {
    max-width: 311px;
    margin-left: 0;
  }

  .imageContainer2 {
    flex: 0 0 87px;
    height: 87px;
  }

  .featured {
    font-size: 16px;
    font-weight: bold;
    margin: 12px 6px;
  }
}
