.container {
  margin: 10px 0 10px 16px;
}

.featured {
  font-size: 24px;
  font-weight: bold;
  margin: 16px 0;
}

.imagesContainer {
  display: flex;
}

.imageContainer {
  width: 683px;
  height: 205px;
  position: relative;
}

.heroLogo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.imageContainer2 {
  width: 182px;
  height: 182px;
}

.heroImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 900px) {
  .imageContainer {
    width: 466.5px;
    height: 135px;
  }

  .imageContainer2 {
    width: 138px;
    height: 135px;
  }

  .featured {
    font-size: 18px;
    margin: 16px 8px;
  }
}

@media (max-width: 700px) {
  .imageContainer {
    width: 389px;
    height: 113px;
  }

  .imageContainer2 {
    width: 115px;
    height: 113px;
  }

  .featured {
    font-size: 17px;
    font-weight: bold;
    margin: 14px 7px;
  }
}

@media (max-width: 500px) {
  .imageContainer {
    width: 311px;
    height: 90px;
  }

  .imageContainer2 {
    width: 87px;
    height: 85px;
  }

  .featured {
    font-size: 16px;
    font-weight: bold;
    margin: 12px 6px;
  }
}
