.main {
  padding: 0 60px;
}

.imageContainer {
  position: absolute;
  right: 0px;
  top: 410px;
  z-index: -1;
}

.cardContainer {
  display: flex;
  position: relative;
}

@media (max-width: 1250px) {
  .imageContainer {
    display: none;
  }
}

@media (max-width: 770px) {
  .cardContainer {
    flex-wrap: wrap;
  }
}

@media (max-width: 770px) {
  .cardContainer {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}

@media (max-width: 580px) {
  .main {
    padding: 0px;
  }
}
