.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  height: 90px;
  width: 100%;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 98%;
  border-bottom: 1px solid #fff;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 16px;
}

.name {
  font-size: 26px;
  font-weight: 600;
  color: #ffffff;
}

.links {
  display: flex;
  align-items: center;
  gap: 28px;
  font-weight: 800;
  font-size: 24px;
  color: #ffffff;
}

.link {
  position: relative;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.link:hover {
  opacity: 0.7;   
}

.cartContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.cartContainer:hover {
  opacity: 0.7; 
}

.cartLink {
  position: relative;
}

.cartContainer span {
  margin-left: 8px;
}

.x {
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.x:hover {
  opacity: 0.7; 
}

@media (max-width: 740px) {
  .header {
    flex-direction: column;
    height: 195px;
    padding-top: 20px;
  }

  .logoContainer {
    flex-direction: column-reverse;
    justify-content: flex-start;
  }

  .links {
    margin-bottom: 25px;
  }

  .x {
    width: 35px;
    height: 35px;
  }
}
